* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --text-light: #000000;
  --text-dark: #ffffff;
  --bg-light: #f9f9f9;
  --bg-dark: #121212;
  --orange: #F4A261;
  --deep-orange: #E76F51;
  --teal: #2A9D8F;
  --navy: #264653;
  --yellow: #E9C46A;
}

body {
  background-color: var(--bg-light);
  color: var(--text-light);
  font-size: 1rem;
}

#root {
  margin: 0 auto;
  text-align: center;
}

body > #root > main {
  min-height: 100vh;
}

main {
  display: flex;
}

/* Sidebar */
.sidebar {
  width: 200px;
  background-color: var(--teal);
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-content: center;
  padding: 25px 5px;
}

.home-btn {
  font-size: 1.75rem;
  color: var(--text-dark);
  margin-bottom: 10px;
}

.sidebar-stock {
  background-color: var(--navy);
  color: var(--text-dark);
  /* box-shadow: 0px 5px 10px 0px var(--deep-orange); */
  border-radius: 5px;
  border: 2px solid var(--teal);

  margin: 10px auto;
  font-weight: 700;
  font-size: 1.25rem;
  width: 115px;
  padding: 7px 5px;
}

.sidebar-stock:hover {
  border-color: var(--text-dark);
}


/* Stock Overview */
.overview {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  padding: 25px;
  margin: 0 auto;
}

/* Autocomplete */
.stock-input {
  background-color: rgba(145,158,171, 0.04); 
}

.auto-form {
  /* width: 100%; */
  padding: 20px; 
  border-radius: 10px;
  margin: 0 auto;
  text-align: center;
}

input, label {
  display: block;
}

.dropdown {
  position: relative;
  display: block;
}

.dropdown-item {
  background-color: var(--bg-light);
  min-width: 300px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown-menu {
  display: none;
  position: absolute;
  height: 500px;
  overflow-y: scroll;
  overflow-x: hidden;
  cursor: pointer;
  list-style-type: none;
}

.show {
  display: block;
}

.stock-symbol {
  cursor: pointer;
}
/* Stock Detail Page */
.detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 100%;
}

/* Stock chart */
.stock-chart {
  margin-top: 20px;
  padding: 15px;
  background-color: var(--bg-light);
}

.time-btn {
  background-color: var(--bg-light);
  color: var(--navy);
  border: var(--navy) solid 2px;
  border-radius: 5px;
  padding: 5px;
  line-height: 1.5rem;
  width: 30px;
}

.time-btn-plain {
  background-color: var(--bg-light);
  color: var(--navy);
}

.time-btn-selected {
  background-color: var(--navy);
  color: var(--text-dark);
}

/* stock data */
.stock-data-title {
  font-weight: 700;
}

.stock-data {
  border: none;
  border-radius: 10px;
  box-shadow: 2px 2px 5px var(--teal);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
  margin-top: 15px;
}

.data-col {
  display: flex;
  flex-direction: column;
}

/* stock list */
.list {
  margin: 10px auto;
}

table {
  margin: 30px auto;
}

thead {
  color: #4f5966;
}

table-col {
  min-width: 200px;
}

.delete-button {
  visibility: hidden;
  display: inline-block;
}

.table-row:hover .delete-button {
  visibility: visible;
}